.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .header_container {
    gap: 2rem; 
    margin-top: 2rem;
  }
}