body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--dark-20);
}

:root {
  --dark-10: #121214;
  --dark-20: #17171A;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #AFABB6;
  --dark-60: #FFFFFF;

  --brand-color: #E07B67;
}